.input2{
  width:40%;
  padding:10px;
  margin-top:5px;
  margin-bottom:15px;
  border-radius:6px;
  font-size:14px;
  color: black;
}

.input3{
  width:20%;
  padding:10px;
  margin-top:5px;
  margin-bottom:15px;
  border-radius:6px;
  margin-right: 20px;
  margin-left: 30px;
  font-size:14px;
  color: black;
}
button{
    width: 80px;
}